<template>
  <b-container class="mt-5">
    <h2 class="mx-auto" style="width: 205px;">Fogoncito API</h2>
  </b-container>
</template>

<script>
import axios from "axios";

export default {
  name: "Home",
  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>